.card-alert {
  width: 20rem;
  height: 15rem;
  background-color: var(--main-blue-800);
  position: absolute;
  display: grid;
  place-items: center;
  top: 7rem;
  left: 72rem;
  display: none;

  &__id {
    color: var(--white);
  }

  &__button-wrap {
    margin-top: 15rem;
  }

  &__image {
    position: absolute;
    width: 15rem;
  }
}