@mixin alert-element {
    flex: 1 1 calc(37%);
    margin:0.5rem;
    height:5rem;

    h1{
        font-size:2em;
        color: var(--white);
        margin: 1rem 0 0 0.5rem;
        display:flex;
        justify-content: right;
        i{
            font-size: 1rem;
            margin:0 0.2rem 0.2rem 0.2rem;
        }
    }
    h4{
        font-size:0.8em;
        color:var(--main-blue-200); 
        margin-left:0.5rem;   
    }
}

.panel-alerts{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--main-blue-200);

    div{
        @include alert-element;
    }

    &__hazardous{
        background-color: var(--highlight-red-500);

        i{
            color: var(--highlight-red-400);
        }
    }
    
    &__unidentified{
        background-color: var(--highlight-purple-500);

        i{
            color: var(--highlight-purple-400);
        }
    }
    
    &__interruptions{
        background-color: var(--highlight-yellow-400);

        i{
            color: var(--highlight-yellow-500);
        }
    }
    
    &__snapshots{
        background-color: var(--highlight-light-blue-500);

        i{
            color: var(--highlight-light-blue-400);
        }
    }
}

@media only screen and (max-width : 1290px) {
    .panel-alerts{
      border:none;
      justify-content: center;
      align-items: center;
      div{
        margin:0.1rem;
        margin-bottom:0;
        margin-top:0;
        padding-top:0;
        padding-bottom:0;
        }
    }
  }