.information-panel {
    background-color: #2d4450;
    font-family: 'Open Sans', sans-serif;
    width:20%;
    display: flex;
    flex-direction: column;
    margin-top:auto;
    margin-bottom: auto;
}
