@mixin navbar-element {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
  width: 100%;
  border: 1px solid white;
  background-color: gray;
  border-radius: 5px;
  display: inline-flex;

  &__map {
    @include navbar-element;
    height: 100%;
  }

  &__live-feeds {
    @include navbar-element;
    height: 100%;
  }
}
