.navbar {
  display: inline-flex;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid white;
  background-color: #1C2C33;

  &__logo-xguard-wrapper{
    place-items: center;
    height: 100%;
    display: flex;
    color: white;
    border-right: 1px solid white;
    width: 7rem;

    img {
      transform: scale(0.5);
    }
  }
}