.threatAnalyser {
  height: 80vh;

  &__button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__buttons {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
  }
}

.threat-image {
  width: 60rem;
  height: 40rem;
  border-radius: 5px;
  overflow: hidden;
}

.empty-threat {
  width: 60rem;
  height: 40rem;
  border-radius: 5px;
  background-color: #273F4A;
  display: grid;
  align-items: center;
  font-family: 'orbitron';
  text-align: center;
  color: white;
}

