.threatAnalyser {
  height: 80vh;

  &__button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__buttons {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.threat-image {
  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  // overflow: hidden;
}

