.threatAnalyser {
  height: 100%;

  &__button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__buttons {
    margin-left: auto;
    margin-right: auto;
  }
}

.threat-image {
  width: 100%;
  height:auto;
  padding: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

@media only screen and (max-width : 680px) {
  .threatAnalyser{

    &__button-wrap {
      justify-content: center;
      flex-direction: column;
    }

    &__buttons:first-of-type{
      padding-bottom:1rem;
    }
  }
}