.info-alert {
  height: 10rem;
  border-bottom: 1px solid var(--main-blue-200);

  &__card {
    display: grid;
    place-items: center;

  &__no-image {
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
  }

    button{
      height: 2em;
      width: auto;
      background-color: var(--highlight-red-500);
      color:var(--hightlight-pink-100);
      font-weight: bold;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition: all 0.2s cubic-bezier(.4,0,.2,1);

      &:hover {
        background-color: var(--highlight-red-400);
      }
    }
  }

  &__image {
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width : 1290px) {
  .info-alert{
    border:none;
    margin-top:auto;
    margin-bottom:auto;
    padding-left:1rem;
    padding-right:1rem;
  }
}
