.panel-footer{
    display:flex;
    flex-direction: column;
    
    &__top{
        height:5rem;
        display:flex;
        align-items: center;
        margin: 0 3rem 0 1rem;
        justify-content: space-between;

        div h2{
            font-size:1.6em;
            color:var(--hightlight-pink-100);
            margin-bottom:10px;
            display: flex;
            i{
                display:flex;
                align-items: center;
                font-size: 1.1rem;
                margin-left:0.4rem;
                color:var(--main-blue-200);
            }
        }
    }
   
    &__bottom{
        height:3rem;
        margin: 0 3rem 0 1rem;
    }

    h4{
        color:var(--main-blue-200);
        font-size:0.8em;
    }  
}
@media only screen and (max-width : 1290px) {
    .panel-footer{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        
        &__top{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .test-celcius{
                flex-direction: row;
            }

            .test-wind{
                padding-top:1em;
                flex-direction: row;
            }
        }
       
        &__bottom{
            display: flex;
            flex-direction: row;
        }
    
    }
  }
