@mixin navbar-element {
  display: grid;
  place-items: center;
  margin: 2rem 1rem 2rem 1rem;
}

.sidebar {
  width: 10rem;
  min-height: 50rem;
  background-color: var(--main-blue-800);
  border-radius: 0px 0px 0px 15px;
  border-right: 3px solid var(--main-blue-400);

  &__map {
    @include navbar-element;
  }

  &__controls {
    @include navbar-element;
  }
}

.iconify {
  width: 30px;
  height: 30px;
}

.iconify {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 768px){
  .sidebar{
    width: 25%;
    min-width: 5rem;

    &__map {
      margin: 1rem 0.5rem 1rem 0.5rem;
    }
  
    &__controls {
      margin: 1rem 0.5rem 1rem 0.5rem;
    }
  }
}
