@mixin navbar-element {
  display: grid;
  place-items: center;
  margin: 2rem 1rem 2rem 1rem;
}

.sidebar {
  // display:absolute;
  width: 10rem;
  min-height: 50rem;
  background-color: #1C2C33;
  border-radius: 0px 0px 0px 15px;
  border-right: 3px solid #2e3b41;

  &__map {
    @include navbar-element;
  }

  &__controls {
    @include navbar-element;
  }
}

.iconify {
  width: 30px;
  height: 30px;
}

.iconify {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width : 1090px) {
  .sidebar-none{
    display:none;
  }

  .sidebar-test{
    // display:flex;
    position:absolute;
    z-index: 54000;
    height:100vh;
    // overflow: hidden;
    // overflow-y: hidden;
  }

  .sidebar{
    // overflow: hidden;
    // position: fixed;
    // overflow-y: hidden;
  }

 
}