.map-page {
  display: flex;
  .notification-gmap-flex {
    display: flex;
  
    .google-map{
      display:flex;
    }
  }
}


@media only screen and (max-width : 1290px) {
  .google-map{
    justify-content: center;
  }
  .map-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .notification-gmap-flex {
      display: flex;
      flex-direction: row;
    }
  }
}


@media only screen and (max-width : 1090px) {
  .map-page {
    display: flex;
    flex-wrap: wrap;

    .notification-gmap-flex {
      display: flex;
      flex-direction: column;

      .google-map{
        justify-content: center;
      }

      .notifcation-feed{
        justify-content: center !important;
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
}



// .map-page {
//   display: flex;
  
// }

// .test{
//   display:flex;
//   flex:1;
// }

// .notification-gmap-flex {
//   display: flex;
//   flex-direction:row;
// }

// @media only screen and (max-width : 1400px) {
//   .map-page {
//     display: flex;
//     flex-direction: column;
//   }
//   .notification-gmap-flex {
//     display: flex;
//     flex-direction: column;
//   }



// }
