.container {
  &__live-feed {
  }

  &__google-map {
      width: 400px;
      position: relative;
      left: 30px;
      bottom: 430px;
      opacity: 0.4;
      border-radius: 15px;
      overflow: hidden;
      transition: opacity .15s ease-in-out;

      &:hover {
        opacity: 1;
        transition: opacity .15s ease-in-out;
    }
  }
}
